				 body {
					 background-color: #333;
				 }
				 
				 #my-location {
					 background-color: ;
					 border-radius: 12px;
					 box-shadow: 0px 5px 5px 0px;
					 padding: 1em;
				 }
			 
				 .bolder-good {
					 font-size: 2em;
					 font-weight: bolder;
					 color: green;
				}
				 .bolder-bad {
					 font-size: 2em;
					 font-weight: bolder;
					 color: red;
				}
				
				h2 {

				}
				
				.container {
					background-color: white;
					margin-top: 2em;
				}
				
				.table {
					background-color: white;
				}